html, body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    height: 100%; /* 부모 요소가 높이를 채우도록 */
}

.navbar {
    display: flex;
    justify-content: space-between; /* 로고와 링크 사이 공간 배분 */
    align-items: center; /* 수직 정렬 */
    padding: 10px 20px; /* 네비게이션 바의 여백 */
    background-color: #ffe0e0; /* 배경색 */
}

/* 네비게이션 링크 스타일 */
.nav-link {
    display: flex; /* 가로 정렬 */
    list-style: none; /* 기본 목록 스타일 제거 */
    margin: 0;
    padding: 0;
}

/* 각 링크의 스타일 */
.nav-link li {
    margin: 0 15px; /* 링크 간 간격 */
}

.nav-link a, .logo a {
    text-decoration: none; /* 밑줄 제거 */
    color: #333; /* 텍스트 색상 */
    font-size: 18px;
    transition: color 0.3s ease; /* 색상 변경 효과 */
}

.nav-link a:hover, .logo a:hover {
    color: #ffffff; /* 마우스 올렸을 때 색상 변경 */
}

/* 클릭 후 색상이 변하지 않도록 설정 */
.nav-link a:active,
.logo a:active {
    color: #333; /* 원래 색상으로 유지 */
}

.main
{
    margin-top: 50px;
    text-align: center;
}

.project-container {
    display: flex; /* 나란히 배치되도록 설정 */
    justify-content: center; /* 가로 중앙 정렬 */
    gap: 20px; /* 두 박스 사이의 간격 */
    margin-top: 20px; /* 프로젝트 섹션과 간격 */
}

.project
{
    width: 200px;  /* 고정된 너비 */
    height: 120px; /* 고정된 높이 */
    display: block;
    text-decoration: none; /* 링크 밑줄 제거 */
    display: inline-block; /* 텍스트가 박스 안에 나타나도록 */
    padding: 5px 10px; /* 박스 안의 여백 */
    border: 2px solid #e5e5e5; /* 박스의 테두리 */
    background-color: #f0f0f0; /* 박스의 배경색 */
    font-size: 16px; /* 텍스트 크기 */
    font-weight: bold; /* 텍스트 굵기 */
    border-radius: 8px; /* 테두리 둥글게 */
    color: #333; /* 텍스트 색상 */
}

.project h4, .box h5, .box h6 {
    margin: 10px 0; /* 각 요소에 간격 추가 */
}

.project h5 a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.project h5 a:hover {
    color: #0073e6; /* 링크 hover 효과 */
}

footer
{
    text-align: center;
    margin-top: 50px;
}

.link-for-resume
{
    margin-top: 50px;
    text-align: center;
}

.link-for-resume a {
    text-decoration: none; /* 밑줄 제거 */
    display: inline-block; /* 이미지를 블록 요소처럼 취급 */
    margin: 0 10px; /* 링크 사이 간격 조정 */
}

.link-for-resume a img
{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}

h1
{
    font-size: medium;
}